body {
    margin: 0;
    font-family: 'Secular One', sans-serif;

}

.nav-bar{
    font-family: 'Secular One', sans-serif;
    background-color:black;
    height: 3.5rem;
    color: white;
    display: flex;
}

.web-name{
    font-size: 32px;
}
.nav-logo{
    margin-left: 0.5rem;
    /* background-color: gold; */
    width: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.nav-detail{
    width: 90%;
    /* background-color: aqua; */
    display: flex;
    gap: 0.5rem
}
.hamburger{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2.5rem;
    display: none;
}


.top-box{
    margin-top: 2.5rem;
    /* display: flex; */
    /* background-color: #4286f4; */
    height: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.hi{
    font-size: 64px;
    font-family: 'Secular One', sans-serif;
}
.happy{
    font-size: 24px;
    margin-top: auto;
    /* background-color: aqua; */
}
.nav-button{
    font-size: 28;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: #fbc2eb; */
}
/* .photo-button{
    background-color: #a6c1ee;
    align-items: center;
    justify-content: center;
} */




.middle{
    margin-bottom: 5rem;
}

.video-bar{
    margin-left: 5rem;
}
video{
    border-radius: 5px;
    width: 500px;
    height: 500px;
}



.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media screen and (max-width:600px) {
    .nav-button{
        display: none;
    }
    .web-name{
        font-size: 20px;
    }
    .nav-logo{
        width: 30%;
    }
    .nav-bar{
        height: 2.5rem;
    }
    .top-box{
        margin-top: 1.5rem;
        /* display: flex; */
        /* background-color: #4286f4; */
        height: 3rem;
        margin-left: 3rem;
        margin-bottom: 5rem;
    }
    .hi{
        font-size: 48px;
        font-family: 'Secular One', sans-serif;
    }
    .happy{
        font-size: 18px;
        margin-top: auto;
        /* background-color: aqua; */
    }
    .video-bar{
        margin-left: 2rem;
    }
    video{
        border-radius: 5px;
        width: 300px;
        height: 300px;
    }
    .hamburger{
        display: block;
    }
    .middle{
        margin-bottom: 2rem;
    }

    
}