body {
    margin: 0;
    font-family: 'Secular One', sans-serif;

}

.nav-bar{
    font-family: 'Secular One', sans-serif;
    background-color:black;
    height: 3.5rem;
    color: white;
    display: flex;
}

.web-name{
    font-size: 32px;
}
.nav-logo{
    margin-left: 0.5rem;
    /* background-color: gold; */
    width: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.nav-detail{
    width: 90%;
    /* background-color: aqua; */
    display: flex;
    gap: 0.5rem
}
.hamburger{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2.5rem;
    display: none;
}


.top-box{
    margin-top: 2.5rem;
    /* display: flex; */
    /* background-color: #4286f4; */
    height: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.hi{
    font-size: 64px;
    font-family: 'Secular One', sans-serif;
}
.happy{
    font-size: 24px;
    margin-top: auto;
    /* background-color: aqua; */
}
.nav-button{
    font-size: 28;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: #fbc2eb; */
}
/* .photo-button{
    background-color: #a6c1ee;
    align-items: center;
    justify-content: center;
} */

.ham-bar{
    position: absolute;
    right: 0%;
    margin-right: 1.5rem;
}

ul{
    padding-top: 1rem;
    right: 0px;
    margin-right:0.25rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position:absolute;
    background-color: black;
    background-size: 0%;
    color: #fff;
    border-radius: 2px;
    display: none;
}
li{
    margin-bottom: 0.5rem;
}

.middle{
    margin-bottom: 5rem;
}

.video-bar{
    margin-left: 5rem;
}
video{
    border-radius: 5px;
}

@media screen and (max-width:600px) {
    .nav-button{
        display: none;
    }
    .web-name{
        font-size: 20px;
    }
    .nav-logo{
        width: 20%;
    }
    .nav-bar{
        height: 2.5rem;
    }
}