body {
    margin: 0;
    font-family: 'Secular One', sans-serif;

}

.nav-bar{
    font-family: 'Secular One', sans-serif;
    background-color:black;
    height: 3.5rem;
    color: white;
    display: flex;
}

.web-name{
    font-size: 32px;
}
.nav-logo{
    margin-left: 0.5rem;
    /* background-color: gold; */
    width: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.nav-detail{
    width: 90%;
    /* background-color: aqua; */
    display: flex;
    gap: 0.5rem
}
.nav-button{
    font-size: 28;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: #fbc2eb; */
}
/* .photo-button{
    background-color: #a6c1ee;
    align-items: center;
    justify-content: center;
}

*/

a{
    text-decoration: none;
    color: white;
}


.name-user{
    margin-left: auto;
    margin-right: auto;
}

.photo{
    margin-top: 0.5rem;
    /* grid-template-columns: 30px 200px 100px 100px; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-gap: 5px;
}


img{
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width:600px) { 

    .photo{
        margin-top: 0.5rem;
        /* grid-template-columns: 30px 200px 100px 100px; */
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 1rem;
        margin-right: 1rem;
        grid-gap: 5px;
    }
    img{
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 10px;
    }
}